/* Design of the connect.php page */
#contains{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ddd;
}

#contains form{
    background-color: whitesmoke;
    margin: 1rem;
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 0 8px 4px black;
    border-radius: 5px;
    height: 40rem;
}

#contains form h2{
    color: blue;
    font-family: "Agency FB", sans-serif;
    text-transform: uppercase;
    text-align: center;
}

#contains form input{
    padding: 0.4rem;
    margin: 1rem;
}

#contains form button {
    margin-top: 2rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: gray;
    color: white;
    border: 2px solid blue;
    transition: all 0.2s linear;
}

#contains form button:hover{
    color: blue;
    background-color: rgba(128, 128, 128, 0.49);
}

@media screen and (max-width: 500px){
    #contains{
        align-items: initial;
        height: 100vh;
    }

    #contains form{
        width: 100%;
        height: auto;
    }
}