#contains{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

#contains #top {
    margin: 2rem auto;
}

#contains #top #title{
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: Blue;
    font-style: italic;
    font-family: Waree, cursive, sans-serif;
}

#contains #top #registration{
    text-align: center;
}

#contains #top #registration a{
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 4rem;
    background-color: gray;
    border: blue 2px solid;
    border-radius: 3px;
    transition: all linear 0.2s;
}

#contains #top #registration a:hover{
    color: blue;
    background-color: rgba(128, 128, 128, 0.49);
}

#tchat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tchat #message{
    border: 2px solid blue;
    height: 60rem;
    width: 50rem;
    padding: 1rem;
    font-size: 2rem;
    overflow-x: auto;
}

#tchat #message .message{
    margin: 1rem;
}

#tchat #message .message .date{
    font-weight: bold;
}

#tchat #message .message .author{
    font-weight: bold;
    color: blue;
}

#tchat #writeTchat{
    width: 50rem;
    margin-bottom: 2rem;
}

#tchat #writeTchat form{
    display: flex;
}

#tchat #writeTchat form input{
    width: 40rem;
    height: 5rem;
    padding-left: 1rem;
    outline: none;
    border: blue 2px solid;
}

#tchat #writeTchat form button {
    width: 10rem;
    cursor: pointer;
    height: 5rem;
    font-size: 3rem;
    background-color: gray;
    color: white;
    border: 2px solid blue;
    transition: all 0.2s linear;
}

#tchat #writeTchat form button:hover{
    color: blue;
    background-color: rgba(128, 128, 128, 0.49);
}


@media screen and (max-width: 780px) {
    #tchat #message {
        width: 30rem;
        height: 50rem;
    }

    #tchat #writeTchat form {
        margin: 0 auto;
        width: 30rem;
    }

    #tchat #writeTchat form input {
        width: 25rem;
    }

    #tchat #writeTchat form button {
        width: 5rem;
    }
}

@media screen and (max-width: 500px) {
    #tchat #message{
        width: 90%;
        height: 40rem;
    }

    #tchat #writeTchat{
        width: 100%;
    }

    #tchat #writeTchat form {
        width: 90%;
    }

    #tchat #writeTchat form input {
        width: 80%;
    }

    #tchat #writeTchat form button {
        width: 20%;
    }
}